.main {
  padding-top: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Page 1 */
.page1 {
  width: 100%;
  height: 793px;
  background-image: url(../../public/images/home1st.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.head {
  color: #fff;
  font-family: Montserrat;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: 95.692%;
}
.purple {
  color: rgb(84, 84, 195);
}
.f1 {
  background: #fff;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  width: 90%;
  height: auto;
  border-radius: 5px;
  background: #fff;
  padding: 3.5rem 2.5rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 1.5rem;
}
.t1 {
  color: rgba(0, 0, 0, 0.4);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}
.loaderBack {
  width: 100%;
  height: 36px;
  border-radius: 20px;
  background: #d2d6dc;
}
.loader {
  width: 60%;
  height: 36px;
  border-radius: 20px;
  background: var(
    --Blue-Gradient,
    linear-gradient(267deg, #2f4edb 0%, #405ddf 49.19%, #5c74e3 99.42%)
  );
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}
.label {
  color: rgba(0, 0, 0, 0.7);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 0.5rem;
}
.inputB1 {
  color: black;
  height: 40px;
  background: #f2f2f2;
  padding: 12px 20px;
  border: none;
  margin-bottom: 1.5rem;
}
.labelB {
  padding-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.4);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}
.i_i {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}
.i1 {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.inputB2 {
  width: 100%;
  height: 40px;
  background: #f2f2f2;
  color: black;
  border: none;
}
.c1 {
  color: rgba(0, 0, 0, 0.4);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}
.submit {
  cursor: pointer;
  margin-top: 2rem;
  width: 100%;
  height: 59px;
  background: var(--button-background-red);
  border: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
}

/* Page 2 */
.page2 {
  padding: 4rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}
.p2top {
  padding-bottom: 3rem;
}
.p2head {
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 95.692%;
  text-transform: uppercase;
  background: var(
    --Blue-Gradient,
    linear-gradient(267deg, #2f4edb 0%, #405ddf 49.19%, #5c74e3 99.42%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.p2cent {
  padding-bottom: 2rem;
  gap: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.house2 {
  width: 620px;
  height: 925px;
}
.p2cent_right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.par {
  color: #1e1e1e;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 164.4%;
}
.box3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 180px;
  height: 180px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: -19px 11px 32px -2px rgba(214, 214, 214, 0.69);
}
.icon {
  width: 50px;
  height: 50px;
}
.btext {
  color: #1e1e1e;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
}
.lm_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 178px;
  height: 69px;
  background: var(--button-background-red);
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 3rem;
}
.p2bot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.hrBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10rem;
}
.bss {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.3rem;
}
.bhead {
  text-align: center;

  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  background: var(
    --Blue-Gradient,
    linear-gradient(267deg, #2f4edb 0%, #405ddf 49.19%, #5c74e3 99.42%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btag {
  text-align: center;

  color: #1e1e1e;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 400;
}

/* Page 3 */
.page3 {
  padding: 4rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  /* border: 1px solid red; */
  width: 100%;
}
.p3top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p3head {
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 400;
  line-height: 95.692%;
  text-transform: uppercase;
  background: var(
    --Blue-Gradient,
    linear-gradient(267deg, #2f4edb 0%, #405ddf 49.19%, #5c74e3 99.42%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 3rem;
}
.p3cent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.boxCont {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.number {
  font-family: Montserrat;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 95.692%;
  background: var(
    --Blue-Gradient,
    linear-gradient(267deg, #2f4edb 0%, #405ddf 49.19%, #5c74e3 99.42%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  /* top: -1rem; */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 440px;
  background: var(--White---0, #fdffff);
  box-shadow: 10px 10px 11.9px 0px rgba(0, 0, 0, 0.15);
  margin-top: 2rem;
  margin-left: 2.5rem;
  padding-top: 2rem;
}
.contHead {
  color: #1e1e1e;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 1rem;
}
.banner {
  width: 360px;
  height: 120px;
}
.contPara {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  background: var(
    --Blue-Gradient,
    linear-gradient(267deg, #2f4edb 0%, #405ddf 49.19%, #5c74e3 99.42%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem 2rem;
}
.p3bot {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 5rem;
}
.callBtn {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background: var(--button-background-red);
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 500;
}

/* frame18 */
.frame18 {
  width: 100%;
  height: 450px;
  background-image: url(../../public/images/frame18.jpeg);
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.log {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 700;
  line-height: 50px;
}
.fRight {
  padding: 2rem 1rem;
}
.rList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.rLi {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.right {
  width: 30px;
  height: 25px;
}
.lText {
  color: var(--White, #fff);
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 600;
}

/* page 4 */
.page4 {
  /* border: 1px solid red; */
  padding: 4rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}
.p4div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.p4head {
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  background: var(
    --Blue-Gradient,
    linear-gradient(267deg, #2f4edb 0%, #405ddf 49.19%, #5c74e3 99.42%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.p4tag {
  color: #1e1e1e;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 95.692%;
}
.p4div2 {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 4rem;
  padding: 10px;
  margin-top: 3rem;
}
.blueBox {
  width: 263px;
  height: 263px;
  border-radius: 15px;
  background: var(
    --Blue-Gradient,
    linear-gradient(267deg, #2f4edb 0%, #405ddf 49.19%, #5c74e3 99.42%)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.blText {
  color: var(--White, #fff);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
}
.p4div3 {
  padding-top: 2rem;
}


/* Page 5 */
.page5{
    border: 1px solid red;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}
.p5head {
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  background: var(
    --Blue-Gradient,
    linear-gradient(267deg, #2f4edb 0%, #405ddf 49.19%, #5c74e3 99.42%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1440px) {
  /* Page 1 */
  .head {
    font-size: 5.5vw;
  }

  /* Page 2 */
  .house2{
    width: 42vw;
  }
  .par{
    font-size: 2vw;
    padding-right: 1rem;
  }
  .box3 {
    justify-content: left;
    gap: 2rem;
  }

  /* page 3 */
  .page3{
    padding: 4rem 5rem 4rem 5rem;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  .p3cent{
    justify-content: center;
  }
  .container{
    width: 24vw;
    height: auto;
  }
  .banner{
    width: 23vw;
  }

  /* Page 4 */
  .p4div2{
    grid-template-columns: auto auto auto;
  }


}
@media (max-width: 1267px) {
  /* Page 2 */
  .par{
    font-size: 2vw;
    padding-right: 1rem;
  }
  .box3 {
    justify-content: left;
    gap: 1rem;
  }
  .box{
    width: 14vw;
  }
  .btext{
    font-size: 1.5vw;
  }

    /* page 3 */
    .p3cent{
      flex-direction: column;
      gap: 3rem;
    }
    .container{
      width: 24vw;
      height: auto;
    }
    .banner{
      width: 23vw;
    }

      /* Page 4 */
  .p4div2{
    grid-template-columns: auto auto ;
  }
}
@media (max-width: 1024px) {
  /* Page 1 */
  .page1 {
    flex-direction: column;
    height: 900px;
    gap: 5rem;
  }
  .head {
    font-size: 60px;
  }
  .i_i {
    gap: 3.5rem;
  }

  /* Page 2 */
  .page2{
    padding: 4rem 3rem;
  }
  .p2cent{
    flex-direction: column;
    align-items: center;
  }
  .p2cent_right{
    justify-content: center;
    align-items: center;
  }
  .p2head{
    font-size: 4.5vw;
  }
  .house2{
    width: 70vw;
    height: 90vw;
  }

  .par{
    text-align: center;
  }
  .box3{
    justify-content: center;
    gap: 5vw;
  }
  .box{
    width: 18vw;
    height: 20vw;
  }
  .lm_btn{
    width: 160px;
    height: 50px;
  }
  .hrBox{
    flex-direction: column;
    gap: 5rem;
  }

/* Page 3 */
.p3cent{
  flex-direction: column;
}
.container{
  width: 350px;
  height: auto;
}
.banner{
  width: 340px;
}

/* Frame 18 */
.frame18{
  flex-direction: column;
  height: 700px;
  gap: 1rem;
}
}

@media (max-width: 768px) {
  /* Page 1 */
  .form {
    width: 100%;
  }

  /* Page 2 */
  .box{
    width: 20vw;
    height: 20vw;
  }

  /* Page 3 */


        /* Page 4 */
        .page4{
          padding: 4rem 0;
        }
        .p4div2{
          grid-template-columns: auto  ;
        }
}


@media (max-width: 581px) {
  /* Page 1 */
  .page1 {
    height: 850px;
    gap: 4rem;
  }
  .head {
    font-size: 10vw;
  }
  .f1 {
    width: 80%;
  }
  .i_i {
    gap: 3rem;
  }

  /* Page 2 */
  .box{
    width: 23vw;
    height: 23vw;
    align-items: center;
  }
  .btext{
    text-align: center;
  }
  .icon{
    width: 7vw;
    height: 7vw;
  }
  .bhead{
    font-size: 10vw;
  }

  /* Page 3 */
  .page3{
    padding: 4rem 0;
  }
  .p3head{
    font-size: 8vw;
  }
.p3cent{
  flex-direction: column;
}
.container{
  width: 300px;
  height: auto;
}
.banner{
  width: 290px;
}
.callBtn {
  padding: 15px;
  font-size: 4vw;
}

/* Page 5 */
.p5head {
  font-size: 8vw;
}

}
@media (max-width: 425px) {
  /* Page 1 */
  .head{
    font-size: 10vw;
  }
  .form {
    padding: 2.1rem 2rem;
  }
  .i_i {
    gap: 2rem;
  }

  /* Page 2 */
  .page2{
    padding: 4rem 2rem;
  }
.btag{
  font-size: 5vw;
}

  /* Page 3 */
  .p3head{
    font-size: 8vw;
  }
.p3cent{
  flex-direction: column;
}
.container{
  width: 300px;
  height: auto;
}
.banner{
  width: 290px;
}
.number{
  font-size: 15vw;
}
}
@media (max-width: 375px) {
  .head{
    font-size: 11vw;
  }

  /* Page 3 */
  .number{
    display: none;
  }
  .container{
    margin-left: 0;
  }
}